@charset 'UTF-8';
/* Slider */

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    z-index: 1;
    position: absolute;
    top: 46%;
    width: 34px;
    height: 61px;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    border: none;
    outline: none;
    transition: 0.3s ease-in;
    background: #d0d0d0;
}
@media (max-width: 1050px){
    .slick-prev,
    .slick-next
    {
    height: 50px;
    }
}


.slick-prev:hover,
.slick-next:hover
{
    color: #d0d0d0;
    outline: none;
    background: #000;
}
.slick-prev:hover:before,
.slick-next:hover:before
{
    color: #d0d0d0;
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 45px;
    line-height: 1;

    opacity: .75;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 15%;
}
@media(max-width:890px){
    .slick-prev{
        left: 3%;
        }
}


[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '❮';
}
[dir='rtl'] .slick-prev:before
{
    content: '❯';
}

.slick-next
{
    right: 15%;
}
@media(max-width:890px){
    .slick-next{
        right: 3%;
        }
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '❯';
}
[dir='rtl'] .slick-next:before
{
    content: '❮';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{

    position: absolute;
    bottom: -45px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 20px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 38px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #000;
}
